@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Jura:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,800;1,100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jura", sans-serif;
  font-size: 1.6rem;
}

.container {
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: rgba(123, 123, 123, 0.5);
}
header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 10%;
  padding: 2rem;
}

header nav ul a {
  text-decoration: none;
  margin: 3rem;
  color: white;
}

header nav ul a:hover {
  background-color: orange;
}

header button {
  background-color: #ff0800;
  margin: 1rem;
  padding: 1rem;
  border: 0.1px solid white;
  border-radius: 5px;
}
img {
  width: 100%;
  height: 100%;
}

main > * {
  flex-basis: 100%;
}

main {
  display: flex;
  flex-direction: row;
}

main .section1 {
  display: flex;
  justify-content: center;
}

main .section1 h1 {
  font-size: 5em;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: red;
  font-weight: bold;
}
